@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Outfit", sans-serif;
  --color-primary: #8b5cf6;
  --color-secondary: #ec4899;
  --color-dark: #030014;
}

@layer base {
  body {
    @apply bg-dark text-slate-100 overflow-x-hidden antialiased;
    font-family: var(--font-sans);
  }
}
